/*============== Background Styles ==================*/

#blurredBackgroundContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
  }
  
  #blurredBackground {
    position: absolute;
    top: -5%;
    left: -5%;
    display: block;
    min-width: 110%;
    min-height: 110%;
    filter: blur(50px);
    -webkit-filter: blur(50px);
  }
  
  #contentContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: block;
    overflow: scroll;
  }
  
  .color-blur {
    width: 200%;
    height: 150%;
    display: block;
    position: absolute;
    border-radius: 50%;
  }
  /*============== Generator Styles ==================*/
  
  #codeOutput {
    width: 99.4%;
    height: 8em;
    margin-top: 0.5em;
  }
  
  #generator {
    width: 50%;
    background: #25252F;
    color: #f3f3f3;
    padding: 1em;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-width: 100;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .label {
    vertical-align: middle !important;
    margin: 0.5em 0;
  }
  
  .color-box {
    cursor: pointer;
    height: 1em;
    padding: 0.2em;
    margin: 0.2em 0;
    border: 1px solid white;
  }
  
  .colorBoxSurround {
    width: 24%;
    float: left;
    margin: 0em 1.3% 0.2em 0%;
    
  }
  
  .last {
    margin-right: 0%;
  }
  
  .button {
    padding: 0.5em 0%;
    background: #25252F;
    color: #F3F3F3;
    border: 1px solid white;
    margin: 0.5em 0;
    width: 50%;
    cursor: pointer;
    float: left;
  }
  
  #refresh {
    margin-right: 1%;
    width: 49%;
  }
  
  #randomise {
    margin-left: 1%;
    width: 49%;
  }
  
  #copy_code {
    width: 100%;
  }
  
  h1 {
    text-align: center;
  }
  
  #blur_amount {
    width: 99.7%;
    resize: none;
  }